<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/styles.css') }}"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="../static/css/meals.css" />
  </head>
  <body>
    <div class="glass-container">
      <h1>Cadastro 📝</h1>
      <form id="register-form">
        <input type="text" name="name" placeholder="Nome" required />
        <input type="email" name="email" placeholder="E-mail" required />
        <input type="password" name="password" placeholder="Senha" required />
        <button type="submit" class="button">Cadastrar</button>
      </form>
      <p>
        Já tem uma conta?
        <a href="/login" class="link">Faça login</a>
      </p>
    </div>
  </body>
</html>
