<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerenciamento de Dieta</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/styles.css') }}"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <div class="glass-container">
      <h1>Gerenciamento de Dieta <br />🍓🍌📗</h1>
      <p>
        Gerencie suas refeições, usuários e relatórios de forma simples e
        eficiente.
      </p>

      <div class="button-container">
        <a href="/users" class="button">Gerenciar Usuários</a>
        <a href="/meals" class="button">Gerenciar Refeições</a>
        <a href="/activities" class="button">Gerenciar Gasto Calórico</a>
        <a href="/reports" class="button">Ver Relatórios</a>
      </div>
    </div>
  </body>
</html>
