<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/styles.css') }}"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="../static/css/meals.css" />
  </head>
  <body>
    <div class="glass-container">
      <h1>Login 🔑</h1>
      <form id="login-form" method="post" action="/login">
        <input type="text" name="username" placeholder="Nome" required />
        <input type="password" name="password" placeholder="Senha" required />
        <button type="submit" class="button">Entrar</button>
      </form>
      <p>
        Ainda não tem uma conta?
        <a href="/register" class="link">Cadastre-se</a>
      </p>
    </div>
  </body>
</html>
