<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>

    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="../static/css/meals.css" />
  </head>
  <body>
    <div class="glass-container">
      <h1>Cadastro 📝</h1>
      <form id="register-form" method="post" action="/register">
        <input type="text" name="name" placeholder="Nome" required />

        <input type="password" name="password" placeholder="Senha" required />

        <input type="number" name="age" placeholder="Idade" />
        <!-- ⬅️ Não required -->

        <select id="user-select" name="gender">
          <option value="">Gênero</option>
          <option value="Masculino">Masculino</option>
          <option value="Feminino">Feminino</option>
          <option value="Outro">Outro</option>
        </select>

        <button type="submit" class="button">Cadastrar</button>
      </form>

      <p>
        Já tem uma conta?
        <a href="/login" class="link">Faça login</a>
      </p>
    </div>
  </body>
</html>
