<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerenciar Usuários</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/styles.css') }}"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/user.css" />
  </head>
  <body>
    <div class="glass-container">
      <h1>Gerenciar Usuários 👤</h1>

      <!-- Formulário para adicionar um novo usuário -->
      <form id="add-user-form">
        <input type="text" id="name" placeholder="Nome" required />
        <input type="number" id="age" placeholder="Idade" required />
        <input type="text" id="gender" placeholder="Gênero" required />
        <button type="submit">Adicionar Usuário</button>
      </form>

      <!-- Lista de usuários -->
      <div id="user-list">
        <h2>Lista de Usuários</h2>
        <ul id="users">
          {% for user in users %}
          <li>
            {{ user.name }} - {{ user.age }} anos - {{ user.gender }}
            <button
              class="edit-user"
              data-id="{{ user.id }}"
              data-name="{{ user.name }}"
              data-age="{{ user.age }}"
              data-gender="{{ user.gender }}"
            >
              Editar
            </button>
            <button class="delete-user" data-id="{{ user.id }}">Remover</button>
          </li>
          {% endfor %}
        </ul>
      </div>

      <!-- Botão para voltar à página inicial -->
      <a href="/" class="button">Voltar à Página Inicial</a>
    </div>

    <!-- Script JavaScript -->
    <script src="{{ url_for('static', path='js/users.js') }}"></script>
  </body>
</html>
